@model IEnumerable<Gymlog.Models.Exercise>

@{
    ViewData["Title"] = "Saved Exercises";
}

<h2>Saved Exercises</h2>

<p>
    <a asp-area="" asp-controller="Add" asp-action="Exercise">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExerciseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExerciseMuscle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExerciseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExerciseMuscle)
            </td>
            <td>
                @Html.ActionLink("Edit", "Exercise", "Edit", new {  id=item.Id  })
                <form method="post" action="/Saved/DeleteExercise" style="display:inline">
                    <input name="exericseId" type="hidden" value="@item.Id">
                    <input class="btn-link" type="submit" value="Delete">
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
