@model IEnumerable<Gymlog.Models.Exercise>

@{
    ViewData["Title"] = "Exercises";
}

<h2>Exercises</h2>

<p>
    <a asp-area="" asp-controller="Add" asp-action="Exercise">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExerciseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExerciseMuscle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExerciseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExerciseMuscle)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                <form method="delete" input type="submit">Delete</form>
            </td>
        </tr>
}
    </tbody>
</table>
